{{#if this.isEditingTask}}
  <li class="list-reset bg-blue-darker text-white rounded my-3 pb-1 pt-2 px-1 text-sm font-system-ui">
    <div class="flex">
      <div class="flex-auto font-sans">
        {{#if (not this.showDetail)}}
          <input class="appearance-none w-full mb-4 rounded-sm bg-blue-lightest text-blue-darkest p-2"
            {{on "keydown" this.onKeyDown}}
            {{on "change" (fn this.updateTask "description")}}
            {{ref this "descriptionInput"}}
             value={{@task.description}}
          >
        {{else}}
          <input class="appearance-none w-full mb-4 rounded-sm bg-blue-lightest text-blue-darkest p-2"
                 {{on "change" (fn this.updateTask "description")}}
             value={{@task.description}}>

          <textarea
            class="appearance-none rounded-sm w-full h-24 bg-blue-lightest text-blue-darkest p-2"
            {{ref this "detailTextArea"}}
            {{on "change" (fn this.updateTask "detail")}}
          >{{@task.detail}}</textarea>
        {{/if}}

      </div>

      <Task::TaskActions
        @task={{@task}}
        @toggleEditTask={{this.toggleEditTask}}
        @uncompleteTask={{fn @completeTask false}}
        @completeTask={{fn @completeTask true}}
        @toggleDetail={{fn (mut this.showDetail) (not this.showDetail)}}
      />
    </div>

    {{#if this.showDetail}}
      <div class="flex flex-row-reverse my-2 mr-2">
        <div>
          <button class="w-20 bg-blue-darkest shadow text-grey-lightest p-1 rounded underline"
            {{on 'click' this.saveTask}}
          >Save</button>
        </div>
        <div>
          <button class="w-20 bg-grey-darkest shadow  mx-3 p-1 text-grey-lightest rounded underline" {{on "click" this.deleteTask}}>Delete</button>
        </div>
        <div>
          <button class="bg-transparent border-transparent text-grey-lightest underline p-1" {{on "click" this.toggleEditTask}}>Cancel</button>
        </div>
      </div>
    {{/if}}

  </li>
{{else}}
  <li class="list-reset {{if @task.completedAt "bg-grey-dark" "bg-blue-darker"}} text-white rounded my-3 pb-1 pt-2 px-1 text-sm font-system-ui">
    <div class="flex">
      <div class="flex-auto font-sans">{{@task.description}}</div>

      <Task::TaskActions
        @task={{@task}}
        @toggleEditTask={{this.toggleEditTask}}
        @uncompleteTask={{fn @completeTask false}}
        @completeTask={{fn @completeTask true}}
        @toggleDetail={{fn (mut this.showDetail) (not this.showDetail)}}
      />
    </div>

    <AnimatedContainer>
      {{#animated-if this.showDetail use=this.resize}}
        <div class="overflow-y-hidden">
          {{@task.detail}}
        </div>
      {{/animated-if}}
    </AnimatedContainer>
  </li>
{{/if}}

