{{#if @tasks.length}}
  <DashboardPanel>
    <TaskList::Title @count={{this.uncompletedTaskCount}}>
      {{@title}}
    </TaskList::Title>

    <AnimatedContainer>
      <AnimatedContainer>
        <ul class="list-reset">
          {{#animated-each this.uncompletedTasks use=this.transition duration=750 as |task|}}
            <Task @task={{task}} @completeTask={{fn this.completeTask task}} @saveTask={{fn @saveTask}} @removeTask={{fn @removeTask task}}></Task>
          {{/animated-each}}
        </ul>
      </AnimatedContainer>
      <div class="clearfix"></div>

      <AnimatedContainer>
        <ul class="list-reset clearfix">
          {{#animated-each this.completedTasks use=this.transition duration=750 as |task|}}
            <Task @task={{task}} @completeTask={{fn this.completeTask task}}></Task>
          {{/animated-each}}
        </ul>
      </AnimatedContainer>
    </AnimatedContainer>

  </DashboardPanel>
{{/if}}